{{>precontent}}
{{>header this edit=account.username}}

<main class="centered">

    <form class="content" onsubmit="return false;">
        <h3>Username</h3>

        <div class="form-input disabled">
            <input type="text" id="username" disabled value="{{account.username}}" />
            <label for="username">Username</label>
        </div>

        <div class="form-actions disabled">
            <button disabled>Read only</button>
        </div>
    </form>

    <form class="content" onsubmit="return false;" id="updatePassword">
        <h3>Password update</h3>

        <div class="form-input">
            <input type="password" id="password" pattern=".{8,}" required title="Minimum of 8 characters" oninput="inputmatch(this,'password-repeat');" />
            <label for="password">Password</label>
        </div>

        <div class="form-input">
            <input type="password" id="password-repeat" pattern=".{8,}" required title="Must match the above password" />
            <label for="password-repeat">Repeat password</label>
        </div>

        <div class="form-actions">
            <button>Save</button>
        </div>
    </form>

    <div class="content">
        <h3>API Tokens</h3>

        <ul class="list-bordered">
            <li class="valign" href="/tokens/new?user={{account.username}}&{{__query}}">
                <i class="material-icons">add</i>
                <span>New API token</span>
            </li>
            {{#each tokens}}
                <li class="valign">
                    <a class="material-icons show-modal" href="#!">delete</a>
                    <dialog>
                        <h2>Delete API token</h2>
                        <p>Are you sure you want to delete the API token with the following description?</p>
                        <pre>{{description}}</pre>
                        <div>
                            <button class="border close">Cancel</button>
                            <button class="border">Yes, I'm sure</button>
                        </div>
                    </dialog>
                    <span>{{description}}</span>
                </li>
            {{/each}}
        </ul>
    </div>
</main>

{{>postcontent}}

{{!--

            <dialog>
                <form id="createApiTokenForm" onsubmit="return false;">
                    <h2>New API token</h2>

                    <div class="form-input">
                        <input type="text" id="token-description" required pattern="[ a-zA-Z0-9\-_]{3,}" title="Minimum of 3 characters (a-z, 0-9, -, _)" />
                        <label for="token-description">Description</label>
                    </div>

                    <div class="form-input">
                        <input type="text" id="token-type" required pattern="[a-zA-Z0-9\-_]+" title="Minimum of 1 character (a-z, 0-9, -, _)" />
                        <label for="token-type">Type field</label>
                    </div>

                    <div class="form-input">
                        <input type="text" id="token-affiliate" required pattern="[a-zA-Z0-9\-_]+" title="Minimum of 1 character (a-z, 0-9, -, _)" />
                        <label for="token-affiliate">Affiliate field</label>
                    </div>

                    <div class="form-input">
                        <input type="text" id="token-campaign" required pattern="[a-zA-Z0-9\-_]+" title="Minimum of 1 character (a-z, 0-9, -, _)" />
                        <label for="token-campaign">Campaign field</label>
                    </div>

                    <div class="form-input">
                        <input type="text" id="token-extra" required pattern="[a-zA-Z0-9\-_]+" title="Minimum of 1 character (a-z, 0-9, -, _)" />
                        <label for="token-extra">Extra field</label>
                    </div>

                    <div class="form-actions">
                        <button>Create</button>
                    </div>

                </form>
                <i class="material-icons close">close</i>
            </dialog>
--}}
