{{>precontent}}
{{>header this}}

<div class="centered">

    <form class="content" onsubmit="return false;" id="tokenGeneric">
        <h3>Generic settings</h3>

        {{#if __settings.admin}}
            <div class="form-input">
                <input type="text" id="username" {{#if edit}}value="{{token.username}}"{{/if}}{{#if new}}value="{{GET.account}}"{{/if}} />
                <label for="username">Username</label>
            </div>
        {{/if}}

        <div class="form-input">
            <input type="text" id="description" {{#if edit}}value="{{token.description}}"{{/if}} />
            <label for="username">Description</label>
        </div>

        <div class="form-input">
            <input type="datetime-local" id="tokenExpires"/>
            <label for="username">Expires*</label>
        </div>

        <small>
            * Blank = no expiry date
        </small>

        <div class="form-actions">
            <button class="valign"><i class="material-icons">save</i><span>Save</span></button>
            <button class="valign show-modal"><i class="material-icons">delete</i><span>Delete</span></button>
            <dialog>
                <h2>Delete this API token?</h2>
                <p>Deleting this API token prevents anyone from using this token ever again.</p>
                <button class="close">Cancel</button>
                <button>Delete</button>
            </dialog>
        </div>
    </form>

</div>

{{#if edit}}
    <div class="centered">
        <div class="content" onsubmit="return false;">
            <h3>Mapping</h3>

            <button class="valign" rv-on-click="form.addrule">
                <i class="material-icons">add</i>
                <span>New rule</span>
            </button>

            <form class="form-horizontal" rv-each-rule="form.rules">

                <div class="form-input" >
                    <input type="text" rv-id="%rule% | prepend 'remote[' | append ']'" rv-value="rule.remote"/>
                    <label rv-for="%rule% | prepend 'remote[' | append ']'">Remote</label>
                </div>

                <div class="form-input" >
                    <input type="text" rv-id="%rule% | prepend 'tracker[' | append ']'" rv-value="rule.tracker"/>
                    <label rv-for="%rule% | prepend 'tracker[' | append ']'">Tracker</label>
                </div>

                <div class="form-input" >
                    <input type="text" rv-id="%rule% | prepend 'translate[' | append ']'" rv-value="rule.translate"/>
                    <label rv-for="%rule% | prepend 'translate[' | append ']'">Translate</label>
                </div>

                {{#if __settings.admin}}
                    <div class="form-actions">
                        <button value="delete" class="valign" rv-on-click="form.delrule"><i class="material-icons">delete</i><span>Delete</span></button>
                        <dialog>
                            <h2>Delete mapping rule</h2>
                            <p>Deleting this mapping rule might break imports.</p>
                            <p>Are you sure you want to delete it?</p>
                            <button class="close">Cancel</button>
                            <button value="confirm" rv-on-click="form.delrule">Delete</button>
                        </dialog>
                        <button class="valign" rv-on-click="form.saverule"><i class="material-icons">save</i><span>Save</span></button>
                    </div>
                {{/if}}

            </form>

        </div>
    </div>
{{/if}}

<script>var token={{{json token}}};</script>
{{#if edit}}{{#if token.expires}}<script>tokenExpires.valueAsNumber = Math.floor({{token.expires}}/60)*60000;</script>{{/if}}{{/if}}
{{>postcontent}}
